
  <% if @over_ten %>
    <%= link_to '以前のメッセージ', '?m=all' %>
  <% end %>
  <div class="ui">
    <% @messages.each do |message| %>
      <% if message.body.present? %>
          <div class="content">
            <div class="header"><strong class="names"><%= message.user.name %></strong>
             <span class= "time"><%= message.message_time %></span>
            </div>
            <div class="list">
              <div class="item">
                <%= message.body %> /
                <% if message.user == current_user %>
                  <%= message.read ? '既読' : '未読' %>
                <% end %>  
              </div>
            </div>
          </div>
        
      <% end %>
    <% end %>
  </div>

  <div class="con">
    <%= form_with(model: [@conversation, @message]) do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "form-control" %>
      </div>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <div class = "sending">
        <%= f.submit "メッセージを送る", class: "send" %>
      </div>
    <% end %>
      <div class = "cp_link">
        <%= link_to "戻る", conversations_path %>
      </div>
  </div>
