
<div class= "message">
  <% if @over_ten %>
    <div class="Previously"><%= link_to '以前のメッセージ', '?m=all' %></div>
  <% end %>
  
    <% @messages.each do |message| %>
      <% if message.body.present? %>
         
         
            <% if current_user == message.user %>
              <div class= "right">
                <% if message.user == current_user %>
                    <%= message.read ? '既読' : '未読' %></br>
                <% end %> 
                <%= message.message_time %>
                <div class= "www"><%= message.body %></div>
                 
              </div>
            <% else %>
              <div class= "left">
                <% if message.user == current_user %>
                  <%= message.read ? '既読' : '未読' %></br>
                <% end %>  
                <%= message.message_time %>
                <%= message.user.name %>
                <div class= "www"><%= message.body %></div>
              </div>
            <% end %>
         
        
      <% end %>
    <% end %>
  





    <%= form_with(model: [@conversation, @message]) do |f| %>
  
        <%= f.text_area :body, class: "form-control" %>
      
        <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <div class = "sending">
        <%= f.submit "メッセージを送る", class: "send" %>
      </div>
    <% end %>
      <div class = "cp_link">
        <%= link_to "戻る", conversations_path %>
      </div>
 
 
</div>
