<body class= "sh">
 <div class="bo">
    <p>プロフィール写真</p>
    <% if @user.image.present? %>
      <%= image_tag @user.image.url  %>
    <% else %>
      <%= image_tag('/assets/photo.png', width: 96, class: 'profile-image') %>
    <% end %>

    <p class= "na">名前:<%= @user.name %></p>

    


    <% s = @user.birth_date %>

    <% if @user.birth_date.present? %>
    <p class ="hi">
      年齢:<%= (Date.today.strftime('%Y%m%d').to_i - s.strftime('%Y%m%d').to_i) / 10000 %>
    <% end %>
    </p>

    
    <p class="gender">性別:<%= @user.sex %></p>
    <p class="Introduction">自己紹介:<%= @user.introduce %></p>

     <div class="follower">
      <p>フォロワー</p>
      <% current_user.followers.each do |follower| %>
        <%= follower.name %></br>
      <% end %>
    </div>

    <div class="follow">
      <p>フォロー中</p>
      <% current_user.following.each do |follow| %>
        <%= follow.name %></br>
      <% end %>
    </div>

    
  </div>
</body>
